/* styles.css */


.odd {
    background-color: rgb(244, 154, 154);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.adjust-font-size {
  font-size: 24px;
}

#second {
   color: rgb(10, 10, 236); 
   font-size: 36px;
}

#fourth {
    background-color: rgb(120, 230, 139);
    font-weight: 700;
}


